{% extends 'photos/layout.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3"><h1>Edit Photo</h1></div>
    <div class="col-md-4" align="right">
      <a href="{% url 'index' %}"
        ><button class="btn btn-outline-success" type="submit">
          View All photos
        </button></a
      >
      
    </div>
  </div>
</div>
<br />

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="ard">
        <form method="post"  enctype="form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="imagename" class="col-sm-4 col-form-label">Image Name</label>
                <div class="col-sm-8">
                  <input type="text"  class="form-control" name="imagename" id="imagename" placeholder="" value={{photo.imagename}}>
                </div>
              </div><br>
              <div class="form-group row">
                <label for="imageurl" class="col-sm-4 col-form-label">Image URL</label>
                <div class="col-sm-8">
                  <input type="url"  class="form-control" name="imageurl" id="imageurl" placeholder="" value={{photo.imageurl}}>
                </div>
              </div><br>
              <div class="form-group row">
                <label for="imagedetails" class="col-sm-4 col-form-label">Image Details</label>
                <div class="col-sm-8">
                    <textarea
                    class="form-control"
                    name="imagedetails"
                    id="imagedetails"
                    rows="3" >{{photo.imagedetails}}</textarea
                </div>
              </div>
            </div>
            <br>
          
            <div class="form-group row" align="center">
                
                <div class="col" >
                
                
                      <input type="submit" class="btn btn-outline-primary" value="Update Photo">
                
                </div>
              </div>
          
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock%}