{% extends 'photos/layout.html' %}
{% block body %}
<div class="container"> 
  <div class="row">
      <div class="col-md-4"></div>
  <div class="col-md-4"><h1>Gallary Photos</h1></div>
  <div class="col-md-4" align="right"><a href="{% url 'new' %}"><button class="btn btn-outline-success" type="submit" >
      Add New photo
    </button></a></div>
  </div>
</div>
<div class="container-fluid mt-3 mb-5">

<div class="container">
  <div class="row">
      {% for photo in photosfinal %}
      <div class="col-md-4">
      <a href="{% url 'show' photo.imageid %}" >
          <div class="card my-2">
              <img class="img-thumbnail" src="{{photo.imageurl}}" alt="Card image cap">

              <div class="card-body">
                  <h5 align="center"><small>{{photo.imagename}}</small></h5>
              </div>
              {% comment %} <a href="{% url 'show' photo.imageid %}" class="btn btn-outline-dark btn-sm m-1">View</a> {% endcomment %}
          </div>
      </div></a>
      {% empty %}
      <h3>No photos...</h3>
      {% endfor %}
  </div>
  <div class="d-flex justify-content-center">
    <nav aria-label="...">
      <ul class="pagination">
        {% if photosfinal.has_previous %}
        <li class="page-item ">
          <a class="page-link" href="/?page=1" tabindex="-1" aria-disabled="true">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ photosfinal.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="/?page=1">1</a></li>
        <li class="page-item " aria-current="page">
          <a class="page-link" href="/?page=2">2</a>
        </li>
        {% if photosfinal.has_next %}
        <li class="page-item">
          <a class="page-link" href="/?page={{photosfinal.next_page_number}}">Next</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/?page={{photosfinal.paginator.num_pages}}">Last</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  
</div>

</div>

{% endblock%}