<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Gallary App</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
        .img-thumbnail{
            height:200px;
            object-fit:cover;
        }
        .card:hover
        {
            transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
        }
    </style>
  </head>
  <body >
    <nav class="navbar navbar-light" style="background-color: #e3f2fd">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Gallary App</a>
        <form class="d-flex" method="post" action="" enctype="form-data">
          {% csrf_token %}
          <input
            class="form-control me-3"
            type="search"
            placeholder="Search Photos"
            aria-label="Search"
            name="search"
            id="search"
          />
          <input type="submit" class="btn btn-outline-primary" value="Search">
        </form>
        
      </div>
    </nav><br>

    <!-- Tags Filter-->
    <div class="container"> 
        <div class="row">
            <div class="col-md-4"></div>
        <div class="col-md-4"><h1></h1></div>
        <div class="col-md-4" align="right"><a href="{% url 'index' %}"><button class="btn btn-outline-success" type="submit" >
            View All photos
          </button></a></div>
        </div>
    </div>
    <center>
      {% if search %}
      <h1>You Searched for <u>{{ search }}</u> </h1>
      {% else %}
      <h1>Hey ! You Forget to Search for a Photo </h1>
      {% endif %}
    </center>
    <div class="container-fluid m-5">
      
      <div class="container">
        <div class="row">
            {% for photo in photos %}
            <div class="col-md-4">
            <a href="{% url 'show' photo.imageid %}" >
                <div class="card my-2">
                    <img class="img-thumbnail" src="{{photo.imageurl}}" alt="Card image cap">

                    <div class="card-body">
                        <h5 align="center"><small>{{photo.imagename}}</small></h5>
                    </div>
                    {% comment %} <a href="{% url 'show' photo.imageid %}" class="btn btn-outline-dark btn-sm m-1">View</a> {% endcomment %}
                </div>
            </div></a>
            {% empty %}
            <h3>No photos...</h3>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
          <nav aria-label="...">
            <ul class="pagination">
              {% if photosfinal.has_previous %}
              <li class="page-item ">
                <a class="page-link" href="/?page=1" tabindex="-1" aria-disabled="true">First</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ photosfinal.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="/?page=1">1</a></li>
              <li class="page-item " aria-current="page">
                <a class="page-link" href="/?page=2">2</a>
              </li>
              {% if photosfinal.has_next %}
              <li class="page-item">
                <a class="page-link" href="/?page={{photosfinal.next_page_number}}">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/?page={{photosfinal.paginator.num_pages}}">Last</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
        
      </div>
      
    </div>
    
    <script src="" async defer></script>
  </body>
</html>
