{% extends 'photos/layout.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h1>Photo Details</h1></div>
    <div class="col-md-4" align="right">
      <a href="{% url 'new' %}"
        ><button class="btn btn-outline-success" type="submit">
          Add New photo
        </button></a
      >
    </div>
  </div>
</div>
<br />

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-lg-6">
            <img
              class="img1"
              class="img-fluid"
              src="{{photo.imageurl}}"
              alt="{{image.imagename}}"
            />
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12">
                <img
                  class="img2"
                  class="img-fluid"
                  src="{{photo.imageurl}}"
                  alt="{{image.imagename}}"
                />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-12">
                <img
                  class="img3"
                  class="img-fluid"
                  src="{{photo.imageurl}}"
                  alt="{{image.imagename}}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <form>
          <div class="row">
            <div class="col mb-6">
              <label for="inputEmail4">Image id </label
              ><input
                type="text"
                class="form-control"
                placeholder="Image id"
                value="{{photo.imageid}}"
                disabled
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-6">
                <label for="inputEmail4">Image Name </label>
              </div>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Image Name"
                  value="{{photo.imagename}}"
                  disabled
                />
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              {% comment %}
              <input
                type="text-area"
                class="form-control"
                placeholder="Image Details"
                value="{{photo.imagedetails}}"
                disabled
              />
              {% endcomment %}
              <label for="inputEmail4">Image Details </label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea3"
                rows="7"
                disabled
              >
{{photo.imagedetails}}</textarea
              >
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
              <a href="{% url 'edit' photo.imageid  %}" align="center"
                ><button type="button" class="btn btn-outline-success">
                  Update Photo
                </button></a
              >
            </div>
            <div class="col-md-5">
              <a href="{% url 'delete' photo.imageid %}"
                ><button type="button" class="btn btn-outline-danger">
                  Delete Photo
                </button></a
              >
            </div>
            <div class="col-md-1"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock%}